[submodule ".tmux.d/tmux-powerline"]
	path = .tmux.d/tmux-powerline
	url = https://github.com/erikw/tmux-powerline.git
[submodule ".vim/vundle"]
	path = .vim/vundle
	url = git://github.com/gmarik/vundle.git
