.DS_Store

.vim/sessions/*
!.vim/sessions/.gitkeep
.vim/bundle/*
!.vim/bundle/.gitkeep
.vim/undo/*
!.vim/undo/.gitkeep
.vim/backup/*
!.vim/backup/.gitkeep

.vimperator-plugin/.vimperator-plugin

config/fish/config.fish
