[core]
    editor = vim
    pager = less -csiSRXM
	fileMode = true
	precomposeunicode = true
    excludesfile = /Users/hoshino/.gitignore_global
    sharedRepository = group
[user]
	name = hoshino
	email = krallice.untitled@gmail.com
[color]
	ui = true
[credential]
	helper = cache
[http]
    postBuffer = 500M
	sslVerify = false
    #proxy = http://trlproxyuser:trlproxyuser123@ym0.nissan-carwings.com:8080
[tig "bind"]
    generic = g move-first-line
    generic = G move-last-line
[alias]
    cm = commit -a --allow-empty-message -m ""
    tree = log --all --full-history --graph --date=short --pretty=format:\"%Cgreen%h %cd %Cblue%cn %Cred%d %Creset%s\"
    b = branch
    co = checkout
    st = status
    gg = grep -inIEH --color --heading --break
[grep]
    lineNumber = true
[merge]
    keepBackup = false;
    tool = vimdiff
[push]
	default = simple
[https]
	sslverify = false
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
