[submodule ".tmux.d/tmux-powerline"]
	path = .tmux.d/tmux-powerline
	url = https://github.com/erikw/tmux-powerline.git
[submodule ".vim/neobundle"]
	path = .vim/neobundle
	url = git://github.com/Shougo/neobundle.vim
[submodule "private"]
	path = private
	url = gitolite:hoshino/dotfile_private.git
