[core]
    editor = vim
    pager=cat
	fileMode = true
	precomposeunicode = true
	excludesfile = /Users/hoshino/.gitignore_global
[user]
	name = hoshino
	email = krallice.untitled@gmail.com
[color]
	ui = true
[credential]
	helper = cache
[http]
	sslVerify = false
[tig "bind"]
    generic = g move-first-line
    generic = G move-last-line
[alias]
    cm = commit -a --allow-empty-message -m ""
    #tree = log --oneline --decorate --graph
    tree = log --all --full-history --graph --date=short --pretty=format:\"%Cgreen%h %cd %Cblue%cn %Cred%d %Creset%s\"
    co = checkout
    st = status
    gg = grep -inIEH --color --heading --break
#[difftool "sourcetree"]
#	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
#	path = 
#[mergetool "sourcetree"]
#	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
#	trustExitCode = true
[grep]
    lineNumber = true
[merge]
    keepBackup = false;
    tool = p4merge
[mergetool "p4merge"]
    cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
    keepTemporaries = false
    trustExitCode = false
    keepBackup = false
#[diff]
#    external = p4diff
[push]
	default = simple
